<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        *
        {
            margin:0px;
        }
        header,footer
        {
            height:50px;
            background-color: grey;
        }
        section
        {
            height:510px;
            background-color: white;
        }
    </style>
</head>
<body>
<header>
    <a href="/">Home</a> | <a href="/about">About Project</a> | <a href="/account">Account</a>
</header>
<section>
    <h1>Welcome in Review System About Us Page</h1>

</section>
<footer>
    <center>Created by Kangaroo Software PVT LTD</center>
</footer>
</body>
</html>