<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="jumbotron">
        <h1>Welcome in User Dashboard</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <ul>
                    <li><a href="">Profile</a></li>
                    <li><a href="/managereview">Manage Review</a> </li>
                    <li><a href="logout">logout</a></li>
                </ul>
            </div>
            <div class="col-sm-10">
                {% block content %}

               {% endblock %}
            </div>
        </div>
    </div>
<div class="jumbotron">
    <p> @2021 by Kangaroo Software PVT LTD</p>
</div>

</body>
</html>